button, select, input, textarea {
  outline-width: 0;
  color: #282828;
  border: none;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}

/**************************************************
  Button
 **************************************************/

button {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px #ccc;
  background-color: white;
  padding: 5px 15px 5px 15px;
}

button:hover {
  background-color: rgb(245,245,245);
}

button:disabled {
  box-shadow: none;
  border: 1px solid #dcdcdc;
  background-color: #dcdcdc;
  color: #a4a4a4;
}

button.full-width {
  width: 100%;
}

button.warning {
  color: #cc0000;
}

/**************************************************
  Select/Input
 **************************************************/
select, input[type="text"], input[type="password"] {
 border-bottom: lightgrey 1px solid;
 border-top: rgba(0,0,0,0) 1px solid;
 transition: ease-in-out border-bottom .2s;
}

input[type="text"]:invalid, input[type="password"]:invalid {
  border-bottom: #cc0000 1px solid;
}

select:focus, input[type="text"]:focus, input[type="password"]:focus {
 border-bottom: #003452 1px solid;
}

select option {
  background-color: rgb(245,245,245);
}

select.full-width, input[type="text"].full-width, input[type="password"].full-width, textarea.full-width {
  width: 100%;
}

textarea {
  overflow: hidden;
  resize: none;
  border: lightgrey 1px solid;
  transition: ease-in-out border .2s;
}

textarea:focus {
  border: #003452 1px solid;
}


.row {
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  margin: 0px;
}


label {
  line-height: 28px;
}
